<h1><%= @disease_name.humanize %> Map</h1>

<script text="text/javascript">
  var width = 960,
      height = 1160;


  var svg = d3.select("body").append("svg")
      .attr("width", width)
      .attr("height", height);

  var projection = d3.geo.mercator()
      .center(['-116.77', '33.02'])
      .scale(25000);

  var path = d3.geo.path()
      .projection(projection);

  var color = d3.scale.quantize()
      .range(["#ffeda0", "#feb24c", "#f03b20"]);

  d3.json("/sra_coords.geojson", function(json) {

    var buckets = 9;
    var colors = ['rgb(255,255,204)','rgb(255,237,160)','rgb(254,217,118)','rgb(254,178,76)','rgb(253,141,60)','rgb(252,78,42)','rgb(227,26,28)','rgb(189,0,38)','rgb(128,0,38)'];

    console.log(d3.values(json));

    var min = 0;
    var max = 650;
    console.log(min, max);
    var colorScale = d3.scale.quantile()
        .domain([min, buckets - 1, max])
        .range(colors);

    svg.selectAll("path")
        .data(json.features)
        .enter()
        .append("path")
        .attr("d", path)
        .style("fill", function(d) {
          var value = d.properties[gon.disease_name];
          if (value) {
            return colorScale(value);
          } else {
            return '#ccc';
          }
        });
  });
</script>